.section-featured-doctor {
    background: silver;
    text-align: center;

    .section-img {
        .container-border {
            border: 1px solid white;
            padding: 5px;

            .avatar {

                img {
                    border-radius: 50%;
                    width: 50%;
                    margin: 0 auto 10px;
                }
            }

            .position {
                color: #555555;

                @media screen and (max-width: 555px) {
                    display: none;
                }
            }
        }
    }
}