@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-background {
    height: 100vh;
    background: linear-gradient(45deg, #ffb703, #219ebc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    height: 500px;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.login-container .login-content {
    padding: 20px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.login-container :is(.user-name-container, .password-container) {
    margin: 10px 0;
}

.login-container :is(.user-name-container, .password-container) input {
    width: 100%;
    height: 40px;
    border: 1px solid silver;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

.login-container :is(.user-name-container, .password-container) label {
    font-size: 1.2em;
    font-weight: bold;
}

.login-container .login {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 35px;
    margin: 10px 0;
    background: linear-gradient(45deg, #ffb703, #219ebc);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.login-container .forgot-password {
    margin: 5px 0;
    cursor: pointer;
    font-size: 1.1em;
}

.login-container .login-options p {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
}

.login-container .login-options .options {
    display: flex;
    justify-content: center;
    font-size: 2em;
    gap: 10px;
}

.login-container .login-options .options i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    color: white;
    background: #1877F2;
    cursor: pointer;
}

.login-container .login-options .options i:last-child {
    background: rgb(255, 84, 84);
}

.password {
    position: relative;
}

.password input {
    position: relative;
}

.password i {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}