.detail-specialty-container {
    margin-top: 70px;
    padding: 0 40px;

    .doctor-info {
        .doctor {
            width: 100%;
            display: flex;
            gap: 20px;
            padding: 40px;
            box-shadow: 0 0 10px silver;
            margin: 40px 0;

            .left {
                width: 50%;
                float: left;
            }

            .right {
                width: 50%;
                float: right;
            }
        }
    }
}